@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

.signupForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    padding-bottom: 25px;
}

.signupForm > h5{
    font-size: 17px;
}

.signupForm label{
    font-size: 13px;
    font-weight: 600;
    margin-right: 20;
    width: 200px;
    margin-right: auto;
    padding-bottom: 8px;
    padding-top: 22px;
}

.signupForm > input{
    border: .8px solid lightgrey;
    width: 95%;
    height: 46px;
    border-radius: 5px;
    padding-left: 15px;
}

.signupForm > .nameAppears {
    font-size: 13px;
    margin-right: auto;
    font-weight: 500;
    padding-bottom: 5px;
    padding-top: 10px;
}


.signupForm > .dobLabel{
}

.signupForm > .dateContainer > .dobInputs{
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.signupForm > .dateContainer > .dobLabels{
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.signupForm > .dateContainer > .dobLabels > .monthLabel{
    width:370px;
}

.signupForm > .dateContainer > .dobLabels > label{
    padding-top: 5px;
    font-weight: 500;
}

.signupForm > .dateContainer > .dobInputs > input{
    border: .8px solid lightgrey;
    height: 40px;
    border-radius: 5px;
    padding-left:15px;
}

.dayInput{
    width: 75px;
}

.yearInput{
    width: 105px;
}

.monthInput{
    width: 200px;
    padding:5px;
    border: .8px solid lightgrey;
    border-radius: 5px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.genderLabel{
    padding: 0px;
    margin: 0px;
}

.genderInputs{
    margin-right: auto;
    width: 320px;
    display:flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.genderInputs > label{
    display: flex;
}

.genderInputs > label > p{
    padding-left: 15px;
}

.genderInputs > input{
    padding-right: 5px;
}

.signupForm > button {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #05B205;
    color: white;
    width: 450px;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    border-radius: 25px;
}

.signupForm > p {
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 15px;
}

.signupForm > p > a{
    padding-left: 2px;
    text-decoration: underline;
    color: #05B205;
}

.signupForm > .privacyFirst {
    padding-bottom: 1px;
}
