.signupPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;;
}

.signupPage > h4{
    padding: 23px;
}

.signupPage > h2{
    font-size: 27px;
    font-weight: 700;
}