.signupPage > img {
    height: 40px;
    width: 130px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.signupPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 150px;
    width: 100%;
}

.signupPage > h4{
    padding: 23px;
}

.signupPage > h2{
    font-size: 27px;
    font-weight: 700;
}

::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding: 10px;
    font-weight: 600;
    padding-left:0px;
}