.splashFooter {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 160px;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-top: 80px;
    width: 100%;
    align-content: center;
    
}

.splashFooter > img{
    height: 62px;
    width: 132px;
}

.splashFooter > label {
    
    font-family: 'Montserrat', sans-serif;
    color: grey;
    font-size: 12px;
    font-weight: bold;
}

.splashFooter > ul {
    padding-left: 40px;
    padding-right: 40px;
}

.splashFooter > ul >li {
    font-weight: 400;
    color: white;
    font-size: 16px;
    padding: 10px; 
}

.splashFooter > ul > label {
    font-family: 'Montserrat', sans-serif;
    color: grey;
    font-size: 12px;
    font-weight: bold;
}

.splashFooter > label > ul > li {
    font-weight: 400;
    color: white;
    font-size: 16px;
    padding: 10px;
}
