@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

.splashNav{
    background-color: black;
    color: white;
    text-decoration: none;
    display:flex;
    justify-content: space-around;
    width: 100%;
    position:fixed;
}

.splashNav > img{
    height: 60px;
    width: 140px;
}

.splashNav > * {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    // margin: 0 30px;
}

.splashNav > * > *{
    padding: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.nonAuthLinks > *{
    font-weight: bolder;
    padding:17px;
    &:hover{
        color: #05B205;
    }
}

.authLinks > *{
    padding:17px;
    &:hover{
        color: #05B205;
    }
    font-size:14px;
    font-weight: 600;
}

.authLinks > i {
    &:hover{
        color: white;
    }
}

.authLinks > .dropdown-trigger{
    position: relative;
}

.authLinks > .dropdown-trigger > .dropdown-logout{
    display: none;
    position: absolute;
}

.authLinks > .dropdown-trigger:active > .dropdown-logout{
    display: block;
}

.authLinks > .dropdown-trigger:hover > .dropdown-logout{
    display: block;
}

.authLinks > .dropdown-trigger > .dropdown-logout{
    // display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    left: -55px;
}

.authLinks > .dropdown-trigger > .dropdown-logout > li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    color: black;
    width: 125px;
    height: 70px;
    border-radius: 2px;
    padding: 10px;
}

.authLinks > .dropdown-trigger > .dropdown-logout > li > button{
    color: grey;
}

.authLinks > .dropdown-trigger > .dropdown-logout > li > button:hover{
    color: blue;
}

.authLinks > .dropdown-trigger > .dropdown-logout > li >  .account:hover{
    color: blue;
}

.authLinks > i{
    color: white;

}

.authLinks > .dropdown-trigger > .dropdown-logout > .triangle{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    margin-left: 100px;
    margin-top: 10px;
}





